# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives
- List popular languages for Data Science.
- List popular libraries for Data Science.
- List data Science Tools.
- Some examples of evaluating arithmetic expressions in Python.
- How to provide comment in the cell.

 Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Fourth item using dashes

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Keras
4. TensorFlow

|Data Science Tools|
|---|
|Apache Hadoop|
|TensorFlow|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Lama Saif Alqahtani